.authContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 20px;
  background-color: #f5f5f5;
  color: #213547;
  border-radius: 10px;
  width: 250px;
  margin: 0 auto 20px;
}

.authContainer p {
  margin: 0;
}

.loginForm {
  display: flex;
  gap: 5px;
}

.loginForm input {
  width: 130px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.authContainer button {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
